

@model TheatreCMS3.Areas.Blog.Models.BlogAuthor

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/images/placeholder.jpg" class="img-fluid rounded" alt="Author Image">
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <!-- Social Media Icons -->
            <div class="float-right mb-3">
                <a href="https://www.facebook.com/your-facebook-page" target="_blank" title="Facebook">
                    <i class="fab fa-facebook fa" style="color: black;"></i>
                </a>
                <a href="https://www.instagram.com/your-instagram-account" target="_blank" title="Instagram">
                    <i class="fab fa-instagram fa" style="color: black;"></i>
                </a>
            </div>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Bio)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Bio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Joined)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Joined)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Left)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Left)
            </dd>
        </dl>
    </div>

    <!-- Move Edit and Delete buttons here -->
    <div class="button-container">
        <div class="row justify-content-end">
            <div class="m-2">@Html.ActionLink("Edit", "Edit", new { id = Model.BlogAuthorId }, new { @class = "custom-button submit" })</div>
            <div class="m-2">@Html.ActionLink("Delete", "Delete", new { id = Model.BlogAuthorId }, new { @class = "custom-button delete" })</div>
        </div>
    </div>
</div>

